html, body{
  height: 100%;
  color: #595857;
}

/* サイドバー */
.wy-nav-side{
  -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
.toctree-l1 .current{
  -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.wy-form input{
  -moz-box-shadow: inset 0 0 5px rgba(0,0,0,0.2),0 0 2px rgba(0,0,0,0.3);
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2),0 0 2px rgba(0,0,0,0.3);
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2),0 0 2px rgba(0,0,0,0.3);
}
/* コンテンツボックス */
.wy-nav-content{
  -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  max-width: 100%;
  min-height: 100%;
  height: auto;
  min-height: 100vh;
  margin-right: auto;
  background-color: #fbfaf5;
}

@media only screen
and (min-width : 1400px){
    .wy-nav-content{
        max-width: 80%;
    }
}


.document{
    min-height: 70vh;
}

/* ブロック要素 */
.warning, .note{
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
.admonition-title{
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

/* Table 関係 */
.wy-table caption, .rst-content table.docutils caption, .rst-content table.field-list caption {
  color: #fbfaf5;
  font: bold 85%/1 arial,sans-serif;
  padding: 1em 0px;
  text-align: center;
}

table caption{
    background-color: #43676b;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
table thead
{
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
table thead tr
{
    background-color: #6b7b6e;
    color: #fbfaf5;
}
table tbody tr
{
    background-color: #fbfaf5;
}

/* コード関係 */
.container
{
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;

}

.highlight pre {
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-border-bottom-colors: #073642;
    -moz-border-left-colors: #073642;
    -moz-border-right-colors: #073642;
    -moz-border-top-colors: #073642;
    border-image: none;
    border-style: none;
    border-width: 2px;
    color: #93a1a1;
    font-size: 0.8em;
    line-height: 1.2em;
    margin: 1.5em 0;
    padding: 10px;
}
.highlight .nf {
    color: #6c71c4;
}

.highlight .nt {
    color: #2AA198;
}
.highlight .k {
    color: #cb4b16;
}
.highlight .gh {
    color: #cb4b16;
}

/* 引用 */
blockquote{
    background-color:#ddd;
    box-shadow: 1px 2px 4px rgba(50,50,50,.5);
    padding:2em 4em;
    position:relative;
    -webkit-box-shadow: 1px 2px 4px rgba(50,50,50,.5);
    -moz-box-shadow: 1px 2px 4px rgba(50,50,50,.5);
    -moz-border-bottom-colors: #073642;
    -moz-border-left-colors: #073642;
    -moz-border-right-colors: #073642;
    -moz-border-top-colors: #073642;
}
blockquote:before, blockquote:after
{
    top: 50%;
    margin-top: -12px;
    font-size:350%;
    position:absolute;
    color:#999;
}

blockquote:before{
    content:"{";
    left:5px;
}
blockquote:after{
    content:"}";
    right:5px;
}

div .code-block-caption{
    background-color: #6c71c4;
    box-shadow: 1px 2px 4px rgba(50,50,50,.5);
    padding: 0.4em;
    position:relative;
    -webkit-box-shadow: 1px 2px 4px rgba(50,50,50,.5);
    -moz-box-shadow: 1px 2px 4px rgba(50,50,50,.5);
    -moz-border-bottom-colors: #073642;
    -moz-border-left-colors: #073642;
    -moz-border-right-colors: #073642;
    -moz-border-top-colors: #073642;
    font-size: 15px;
    font-weight:bold;
    color: #fdf6e3;
}


/* インライン*/
.command, .file, .kbd
{
  padding: 2px 4px;
  border-radius: 3px;
  -webkit-box-shadow: 1px 2px 4px rgba(50,50,50,.5);
  -moz-box-shadow: 1px 2px 4px rgba(50,50,50,.5);
  -moz-border-bottom-colors: #073642;
  -moz-border-left-colors: #073642;
  -moz-border-right-colors: #073642;
  -moz-border-top-colors: #073642;
}
.command{
  font-size: 90%;
  color: #FFF;
  background-color: #2aa198;
}
.file.docutils.literal
{
  font-size: 90%;
  color: #FFF;
  background-color: #dc322f;
}

.kbd.docutils.literal
{
  font-size: 90%;
  color: #FFF;
  background-color: #b58900;
}
